@media screen and (min-width: 768px) {
    nav{
        display: flex;
        position: fixed;
        margin-left: 17.5vw;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100vh;
    }

    nav a{
        font-size: 22px;
        color: white;
        text-decoration: inherit;
    }
    nav a:hover{
        color: rgb(172, 172, 172);
    }

    article{
        overflow: auto;
        scroll-behavior: smooth;
    }
    article::-webkit-scrollbar{
        width: 0;
    }
    /* botão de voltar */
    #voltar{
        color: aliceblue;
        background-color: rgb(177, 49, 49);
        font-size: large;
        position: absolute;
        margin-top: 2vh;
        margin-left: 2vw;
        padding: 8px 20px;
        border-radius: 8px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /* Estilos aplicados em telas com 768px ou mais de largura */
    body {
        overflow: "hidden";
        margin: 0;
        background-image: url(https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    article {
        height: 100vh;
        max-height: 100vh;
        width: 60vw;
        margin: auto auto;
        background-color: #f8e6e6;
        border-radius: 20px;
    }

    header {
        background: #3f3d61;
        color: #ffffff;
        text-transform: uppercase;
        padding: 1px 10px;
        border-radius: 5px 5px;
        margin-left: 10px;
        width: fit-content;
    }

    section {
        padding: 4vh 2vw;
    }

    button,
    a {
        cursor: pointer;
    }

    .bandeira {
        margin: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #container {
        display: flex;
        flex-wrap: wrap;
    }
}